.main-width {
    max-width: $main-width;
    padding: $spacing-unit;
    margin: 0 auto;
}

/**
 * Site header
 */
.header-wrapper {
    width: 100%;
    background-color: $brand-color;
}

.site-header {
    @extend .main-width;

    // Positioning context for the mobile navigation icon
    position: relative;

    a {
        color: $header-text-color;
    }

    .menu-icon {
        display: none;
    }
}

/**
 * Main content
 */

main {
    @extend .main-width;
}



